.section-article {
    &__title {
    }

    &__list {
        margin-top: 30px;
    }
}
.list-article {
    display: flex;
    gap: 30px 3%;
    flex-wrap: wrap;
    &__article {
        flex: 0 0 31.3333333333%;
        @media (max-width: 992px) {
            flex: 0 0 47%;
        }
        @media (max-width: 552px) {
            flex: 1 1 auto;
        }
    }
}
.article {
    border: 1px #eee solid;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease 0s;
    &:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        & .article__img {
            padding: 0;
            padding-bottom: 30px;
        }
    }
    &__img {
        padding: 30px;
        padding-bottom: 0;
        transition: all 0.3s ease 0s;
    }
    &__link {
        display: block;
        position: relative;
        top: 0;
        left: 0;

        width: 100%;
        height: 260px;
        @media (max-width: 702px) {
            height: 200px;
        }

        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        margin-top: 10px;
        padding: 30px;
        padding-top: 0;
    }

    &__title {
        font-size: 20px;
        line-height: 130%;
        color: #222;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        border-bottom: 1px solid #ffffff;
        @media (max-width: 767px) {
            font-size: 16px;
        }

        &:hover {
            border-bottom: 1px solid #222;
        }
    }

    &__desc {
        font-size: 16px;
        color: #555555;
        font-weight: 600;
        @media (max-width: 767px) {
            font-size: 13px;
        }
    }
}
.section-article {
    &__pages {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    &__page {
        cursor: pointer;
        position: relative;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #69a6ff;
        color: #fff;
        transition: all 0.3s ease 0s;
        outline: none;
        &.active {
            background-color: #3174da;
        }
        &:hover {
            background-color: #0a3f8f;
        }
        & span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
